.contact-wrap {
  text-align: center;
  padding: 30px;
}
.contact-title {
  margin: 30px 0;
  font-size: 36px;
  font-weight: 700;
}
.contact-info li {
  margin: 5px 0;
  font-weight: 700;
}
.contact-info li > span {
  color: #222;
}
.contact-info > span {
  line-height: 100px;
  font-size: 10px;
}

/*contact form*/
.contact-form {
  text-align: left;
}
.contact-form-title {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  margin: 30px 0 0 0;
  font-size: 26px;
}
.contact-form-title::before,
.contact-form-title::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0 10px;
}
.contact-form-content {
  padding: 30px;
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
}
.contact-form-content label {
  display: block;
  font-size: 14px;
  width: 100%;
  margin-top: 20px;
}
.contact-form-content input,
.contact-form-content textarea {
  border: none;
  border-bottom: 1px solid #222;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px;
}
.contact-phone {
  width: 100%;
}
.contact-phone span {
  display: inline-block;
  text-align: center;
  width: 30px;
}
.contact-phone input {
  width: calc((100% - 60px) / 3);
  text-align: center;
}
.contact-question textarea {
  height: 70px;
  margin-top: 10px;
}
.contact-btn {
  background-color: transparent;
  border: 1px solid #222;
  width: 100%;
  line-height: 40px;
  margin-top: 30px;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 500ms;
}
.contact-btn:hover {
  background-color: #222;
  color: #fff;
}
.contact-btn:disabled {
  background-color: #ccc;
}
.contact-btn:disabled:hover {
  background-color: red;
}
