.header-wrap {
  background-color: #fff;
  padding: 20px;
  width: 200px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  height: 100vh;
}
.logo {
  height: 150px;
  font-size: 28px;
  font-weight: 600;
}
.navi a {
  display: block;
  height: 50px;
}
.navi a:hover {
  text-decoration: underline;
  font-weight: 700;
}
