.header-wrap {
  background-color: #fff;
  padding: 20px;
  width: 200px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  height: 100vh;
  box-shadow: 0px 0px 10px 0px #6868684b;
}
.about-wrap > div {
  margin-bottom: 100px;
}
.logo {
  display: block;
  height: 150px;
  font-size: 28px;
  font-weight: 600;
}
.navi a {
  display: block;
  height: 50px;
  color: #222;
}
.navi a:hover {
  text-decoration: underline;
  font-weight: 700;
}
.login {
  position: absolute;
  position: fixed;
  bottom: 20px;
}
.login > a,
.login > span {
  font-size: 14px;
}
.login > a {
  cursor: pointer;
}
.login > a:hover {
  text-decoration: underline;
  font-weight: 700;
}
