.main-wrap > div {
  width: 100%;
  box-sizing: border-box;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  font-size: 30px;
}
.product-list {
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
  overflow: hidden;
}
.product {
  box-sizing: border-box;
  padding: 0 30px;
  float: left;
  width: calc(100% / 4);
  cursor: pointer;
  height: 500px;
}
.product-img > img {
  width: 100%;
}
.product-info > div {
  text-align: right;
}
.product-price {
  font-size: 14px;
}
.product:hover img {
  opacity: 0.5;
  transition-duration: 0.5s;
}
