.contact-wrap {
  text-align: center;
  padding: 30px;
}
.contact-title {
  margin: 30px 0;
  font-size: 36px;
  font-weight: 700;
}
.contact-info li {
  margin: 5px 0;
  font-weight: 700;
}
.contact-info li > span {
  color: #222;
}
.contact-info > span {
  line-height: 100px;
  font-size: 10px;
}
